<div class="container">
    <h3>rxjsops works!</h3>

    <h2>Get Users Details</h2>
    <p>Example for Rxjs Tap, ExhaustMap Operators.</p>

    <div class="row">
        <div class="col-md">
            <button class="btn btn-primary" #btnGetUsrDtls>Get Users Details</button>
        </div>
        <div class="col-md d-flex flex-row-reverse">
            <input type="text" class="from-cntrol col-5" ngModel #searchUser placeholder="Search by Name">
        </div>
    </div>
    <br><br>
    <div *ngIf="usersDetails!=null">
        <table class="table">
            <tr>
                <th>Srno</th>
                <th>Name</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Company</th>
                <th>City</th>
            </tr>
            <tr *ngFor="let user of usersDetails | filter:'name':searchUser.value ;let i=index">
                <td>{{i+1}}</td>
                <td>{{user.name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.company['name']}}</td>
                <td>{{user.address['city']}}</td>
            </tr>
        </table>
        <hr>
    </div>


</div>